<%- include("./partials/header.ejs") %>
    <section id="container">
        <header>
            <section id="Menuholder">
                 <figure id="Logo">
                     <img src="/img/Logo.png" alt="">
                 </figure>
                 <nav id="Menu">
                     <section>
                         <ul>
                             <li><a href="/index" id="index" class="link">Home</a></li>
                             <li><a href="/quiz" id="quiz" class="link">Quiz</a></li>
                             <li><a href="/favorites" id="favorites" class="link">Favorites</a></li>
                             <li><a href="/blacklist" id="blacklist" class="link">Blacklist</a></li>
                         </ul>
                     </section>
                     <section id="Burger" class="menu">
                         <section class="menu-top menu-global line"></section>
                         <section class="menu-middle menu-global line"></section>
                         <section class="menu-bottom menu-global line"></section>
                     </section>
                 </nav>
            </section>
         </header>
         <main>
             <section id="Homeflex">
                 <section id="Main_content">
                    <section class="tableHolderfav">
                        <h3 class="title">Favorites</h3>
                        <form id="downloadForm" action="/download" method="post">
                            <input type="submit" value="&#8659;">
                        </form>
                        <table id="favoriteTable">
                            <% for (var i = 0; i < allLikes.length; i++) { %>
                                <tr class="row">
                                    <td class="favoriteCharacter"><a target="_blank" href="https://lotr.fandom.com/wiki/<%= allLikes[i].character %>"><%= allLikes[i].character %></a> :</td>
                                    <td class="favoriteQuote"><i>" <%= allLikes[i].content %> "</i></td>
                                    <td class="favoriteForm">
                                        <form id="deletefavForm<%= i %>" action="/deletefav" method="post">
                                            <input id="idToDelete<%= i %>" type="hidden" name="id" value="<%= allLikes[i].id %>">
                                            <input id="deleteFavorite<%= i %>" type="submit" value="X" class="favoriteDeleteButton">
                                        </form>
                                    </td>
                                </tr>
                            <% } %>
                        </table> 
                    </section>
                </section>
                <section id="Scoreboard">
                    <section id="Scores">
                        <section id="Shield"></section>
                        <section id="ScoreHeading">
                            <h3>High score</h3>
                            <p id="scoreTitle"></p>
                        </section>
                        <ul id="list" class="scoreList">
                            
                        </ul>
                        </section>
                        <form id="formSudden" action="/favorites" method="post">
                            <input id="buttonSudden" type="submit" value="fetchSudden">
                        </form> 
                        <form id="formNormal" action="/favorites" method="post">
                            <input id="buttonNormal" type="submit" value="fetchNormal">
                        </form> 
                </section>
            </section>
        </main>
        <footer>
        </footer>
    </section>
<%- include("./partials/footer.ejs") %>